/* Start Global Rules */

$mainColor: #900c3f;

*{
    font-family: 'Poppins', Arial, sans-serif
}

body{
    height: 3000px;
    counter-reset: info-counter
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 15px
}

::-webkit-scrollbar-thumb{
    background-color: $mainColor
}

.overlay{
    height: 100%;
    background-color: rgba(0,0,0,.8)
}

section{
    padding: {
        top: 50px;
        bottom: 50px
    }
    .section-name{
        color: #000;
        position: relative;
        margin-bottom: 70px;
        font-size: 45px;
        &::after{
            content: '';
            position: absolute;
            width: 80px;
            height: 3px;
            bottom: -20px;
            left: calc(50% - 40px);
            background-color: $mainColor
        }
    }
}

ul {
    list-style: none;
    padding: 0
}

a{
    text-decoration: none
}

.social-media-links{
    a{
        color: #FFF;
        i{
            background-color: #000;
            padding: 12px 15px;
            font-size: 22px;
            cursor: pointer;
            transition: 1s;
            border-radius: 3px;
            &:hover{
                background-color: #FFF;
                color: #000
            }
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

/* End Global Rules */

/* Start Header Section */

header {
    background-color: rgba(0,0,0,.1);
    transition: .5s;
    .navbar{
        .navbar-toggler {
            border-color: #BBB;
            .fa-bars{
                font-size: 25px;
            }
        }
        .navbar-nav{
            flex-basis: 100%;
            .nav-item{
                padding: 8px;
                .nav-link{
                    transition: .5s;
                    font-weight: 500;
                    &:hover{
                        background-color: $mainColor;
                        border-radius: 5px;
                        padding: 10px 15px
                    }
                    &.active{
                        border-bottom: 2px solid $mainColor
                    }
                }
            }
        }
    }
}

/* End Header Section */

/* Start Home Section */

.home{
    height: 100vh;
    padding: 0;
    .carousel{
        height: 100%;
        .carousel-inner{
            height: 100%;
            .carousel-item{
                height: 100%;
                background-size: cover;
                .carousel-caption{
                    bottom: 0;
                    padding: 0;
                    h1{
                        color: #FFF;
                        font-size: 70px;
                        font-family: 'Caveat', cursive
                    }
                    p{
                        color: #FFF;
                        font-size: 30px;
                        margin-top: 30px;
                        span{
                            background-color: $mainColor;
                            border-radius: 5px;
                            padding: 15px;
                            margin: {
                                left: 10px;
                                right: 10px
                            }
                        }
                    }
                }
            }
        }
        i {
            font-size: 25px;
            background-color: rgba(255, 255, 255, 0.1);
            width: 60px;
            height: 60px;
            line-height: 60px;
            transition: .5s;
            &:hover{
                background-color: $mainColor
            }
        }
    }
}

/* End Home Section */

/* Start About Section */

.about{
    .my-image{
        padding: 5px;
        img{
            width: 100%;
            height: 700px;
            border-radius: 5px
        }
    }
    .about-content{
        background-color: #d5d5d5;
        border: 2px dashed $mainColor;
        border-radius: 5px;
        padding: 20px;
        color: #000;
        min-height: 700px;
        font-size: 20px;
        .info-list{
            li{
                position: relative;
                padding-left: 60px;
                padding-bottom: 25px;
                text-align: left;
                border-bottom: 3px solid #FFF;
                margin-bottom: 70px;
                &::before{
                    content: counter(info-counter);
                    counter-increment: info-counter;
                    position: absolute;
                    left: 0;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 50%;
                    background-color: $mainColor;
                    text-align: center;
                    color: #FFF
                }
                span:first-child{
                    display: inline-block;
                    width: 20%
                }
            }
        }
        a{
            background-color: $mainColor;
            color: #FFF;
            padding: {
                left: 20px;
                right: 20px
            }
            &:hover{
                background-color: #da0d5b
            }
        }
    }
}

/* End About Section */

/* Start My Education Section */

.my-education{
    background-color: #d5d5d5
}

/* End My Education Section */

/* Start My Skills Section */

.my-skills{
    .skill-box{
        background-color: #d5d5d5;
        padding: {
            top: 20px;
            bottom: 20px
        }
        margin-bottom: 30px;
        transition: 1s;
        $brandColorsList: (
            "fa-html5": #e34f26,
            "fa-css3-alt": #254bdd,
            "fa-js": #b5a421,
            "fa-bootstrap": #672cab,
            "fa-sass": #f11e84,
            "fa-vuejs": #15a564,
            "fa-react": #00d8ff,
            "fa-mdb": #589636,
            "fa-code": #ff3c41,
            "fa-node": #215732,
            "fa-gulp": #e44849,
            "fa-git-alt": #e84d31,
            "fa-lightbulb": #ddb321
        );
        @each $brandClass, $color in $brandColorsList {
            i.#{$brandClass} {
                color: $color
            }
        }
        h4{
            margin: {
                top: 25px;
                bottom: 0
            }
            color: $mainColor
        }
        &:hover{
            background-color: $mainColor;
            color: #FFF;
            border: 2px solid #EEE;
            box-shadow: 1px 1px 10px #00F;
            h4{
                color: #FFF
            }
            i{
                color: #FFF
            }
        }
    }
}

/* End My Skills Section */

/* Start My Projects Section */

.my-projects{
    background-color: #d5d5d5;
    .project-box{
        iframe{
            height: 300px;
        }
        .card-body{
            &:first-of-type{
                background-color: $mainColor;
                color: #FFF;
                margin: 20px 15px;
                border-top-right-radius: 15px;
                h5{
                    border-bottom: 2px dashed #FFF;
                    padding: {
                        top: 5px;
                        bottom: 15px;
                    };
                    margin-bottom: 20px
                }
            }
            .card-link{
                background-color: $mainColor;
                color: #FFF;
                margin-bottom: 20px;
                padding: {
                    top: 10px;
                    bottom: 10px;
                }
                transition: 1s;
                &:nth-child(2) {
                    margin-left: 0
                }
                &:hover{
                    background-color: rgb(218, 13, 91)
                }
            }
        }
        .technologies-list{
            list-style-type: square;
            list-style-position: inside;
            margin: {
                left: 15px;
                right: 15px;
            }
            border: 2px dashed $mainColor;
            li{
                padding: 15px;
                &:not(:last-child){
                    border-bottom: 2px dashed $mainColor
                }
            }
        }
    }
}

/* End My Projects Section */

/* Start Work Experince Section */

.work-experince{
    
}

/* End Work Experince Section */

/* Start Contact Me Section */

.contact-me{
    background-color: #d5d5d5;
    .contact-me-form{
        input, textarea{
            margin-bottom: 20px;
            padding: 12px
        }
        textarea{
            resize: none;
            height: 190px
        }
        button{
            width: 100%;
            color: #FFF;
            background-color: $mainColor;
            padding: 12px;
            transition: .5s;
            cursor: not-allowed;
            opacity: .5
        }
    }
    .social-media-links{
        margin-top: 30px
    }
}

/* End Contact Me Section */

/* Start Footer */

footer{
    padding: 15px 0;
    background-color: $mainColor;
    color: #FFF;
    font-size: 18px
}

/* End Footer */

/* Start Transition Arrows Box */

.transition-arrow{
    position: fixed;
    right: 40px;
    z-index: 1040;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    color: #FFF;
    background-color: $mainColor;
    cursor: pointer
}

.arrow-to-bottom{
    bottom: 40px
}

.arrow-to-top{
    bottom: 90px;
    display: none
}

/* End Transition Arrows Box */

/* Start Sharing Group Styles */

.edu-info-box, .work-info-box{
    background-color: #FFF;
    padding: 20px;
    border: 4px solid #CCC;
    border-radius: 5px;
    i{
        width: 100%;
        color: $mainColor;
        margin-bottom: 25px
    }
    h5{
        background-color: $mainColor;
        padding: 17px;
        color: #FFF;
        border-top-right-radius: 10px;
        margin-bottom: 25px
    }
    .edu-details-list, .work-details-list{
        list-style-type: square;
        list-style-position: inside;
        border: 2px dashed $mainColor;
        li{
            padding: 20px;
            font-size: 18px;
            &:not(:last-child) {
                border-bottom: 2px dashed $mainColor
            }
        }
    }
}

/* Start Sharing Group Styles */